@import "../../modules.variables.scss";

.CpnButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: $buttonHeight;
	padding: 0 25px;
	outline: none;
	user-select: none;
	cursor: pointer;
	border-radius: $borderRadius;
	background: none;
	font-size: 1em;
	font-weight: 500;
	outline: none;
	text-decoration: none;

	&.dark {
		@include btnDarkColor($dark);
	}

	&.danger {
		@include btnDarkColor($danger);
	}

	&.warning {
		@include btnDarkColor($warning);
	}

	&.success {
		@include btnDarkColor($success);
	}

	&.info {
		@include btnDarkColor($info);
	}

	&.primary {
		@include btnDarkColor($primary);
	}

	&.dark-outline {
		@include btnOutlineColor($dark);
	}

	&.danger-outline {
		@include btnOutlineColor($danger);
	}

	&.success-outline {
		@include btnOutlineColor($success);
	}

	&.info-outline {
		@include btnOutlineColor($info);
	}

	&.primary-outline {
		@include btnOutlineColor($primary);
	}

	.icon {
		svg {
			height: 15px;
		}
	}
}

.CpnButton_Wraper_Middle {
	display: flex;
	align-items: center;
	justify-content: center;
}
