@import "./modules.variables.scss";

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell,
		"Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	color: $dark;
	width: 100%;
	height: 100%;
	background-color: $light;
}

#root {
	width: 100%;
	height: 100%;
}